
.result {
  display: none;
}

body {
  background-color: grey;
}
h1, p {
  text-align: center;
  color: #44000D;
}

h3 {
  text-align: center;
}
p {
  font-size: 20px;
  color: black;
}

body {
  color: #F9D276;
}

.panel {
  background-color: #44000D;
  text-align: center;
}

.panel-heading {
  font-size: 30px;
  font-weight: bold;
}

.btn {
  text-align: center;
}
